<header class="myred">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm myred ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <h2>Amancha Develops</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Development Tracks
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" routerLink="/software" routerLinkActive="active" ariaCurrentWhenActive="page">Software</a></li>
              <li><a class="dropdown-item" href="#">Career Mentor</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">Applied AI</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/calender" routerLinkActive="active" ariaCurrentWhenActive="page">Schedule Appointment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
